body{
	background-color: #000000;
}

div{
	 text-align: center;
}
.text_info{
  color:white;
  
  text-align: center;
  font-size: 26px;
}

.page {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(50% , auto);
  grid-gap: 4em;
  
}
.frame-left{
	display: inline-block;
	border: 16px groove #47009C;
	height: 300px;
	align-self: center;
	border-radius: 40px 0px 40px 0px;
}

.frame-right{
	display: inline-block;
	border: 16px ridge #47009C;
	height: 300px;
	align-self: center;
	border-radius: 40px 0px 40px 0px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}




img{
	border-radius: 8px;

}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
 /* transition: 0.6s ease;*/
  border-radius: 0 3px 3px 0;
  
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}